.MobileTechnologyDetailsCard {
    animation: MobileTechnologyDetailsCardFade 5s;
    animation-fill-mode: forwards;
}

@keyframes MobileTechnologyDetailsCardFade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}